.bundle
.yardoc
_yardoc
coverage
doc
pkg
tmp
node_modules

## IDE Specific
# JetBrains IDE files:
.idea

## Other
# Intended to be used as a library or gem that could run in multiple environments
.ruby-version

.DS_Store