<section class="hero is-small is-info">
  <div class="hero-body">
    <p class="title">
      <%= link_to :back, 'aria-label': 'Back to previous page' do %>
        <i class="fa fa-caret-left"></i>
      <% end %>
      Search
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">No Data</h1>
    <p>
      There is no immunization information for the individual in our system. If you believe there should be information, please
      double check your inputs or inform your healthcare provider to update your information in the IIS.
    </p>
  </div>
</section>
