<section class="hero is-small is-info">
  <div class="hero-body">
    <p class="title">
      <%= link_to :back, 'aria-label': 'Back to previous page' do %>
        <i class="fa fa-caret-left"></i>
      <% end %>
      Search
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Data Protected</h1>
    <p>The patient has requested the data to be privated, so the information could not be shared.</p>
  </div>
</section>
