<section class="hero is-small is-info">
  <div class="hero-body">
    <p class="title">
      <%= link_to :back, 'aria-label': 'Back to previous page' do %>
        <i class="fa fa-caret-left"></i>
      <% end %>
      Search
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Rejected</h1>
    <p>
      This server was denied access to the immunization information system. Please contact system administrator.
    </p>
  </div>
</section>
