---
http_interactions:
- request:
    method: post
    uri: http://vci.mitre.org:8081/iis-sandbox/soap
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:cdc:iisb:2011"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:connectivityTest><tns:echoBack>?</tns:echoBack></tns:connectivityTest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:cdc:iisb:2011:connectivityTest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/soap+xml;action="urn:cdc:iisb:2011:connectivityTest";charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n
        \ <Body>\n    <connectivityTestResponse xmlns=\"urn:cdc:iisb:2011\">\n      <return>End-point
        is ready. Echoing: ?</return>   \n    </connectivityTestResponse>\n  </Body>\n</Envelope>\n"
  recorded_at: Wed, 28 Jul 2021 21:09:14 GMT
recorded_with: VCR 6.0.0
