---
http_interactions:
- request:
    method: post
    uri: http://vci.mitre.org:8081/iis-sandbox/soap
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:cdc:iisb:2011" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:submitSingleMessage><tns:username>mitre</tns:username><tns:password>bad_password</tns:password><tns:facilityID>MITRE Healthcare</tns:facilityID><tns:hl7Message>MSH|^~\&amp;|||||20210728210913||QBP^Q11^QBP_Q11|7486026551|P|2.5.1|||ER|AL|||||Z34^CDCPHINVS|

        QPD|Z34^Request Immunization History^CDCPHINVS|7486026551||^^^^^^|^^^^^^|||^^^^^USA^|^PRN^PH^^^^|||||

        RCP|I||</tns:hl7Message></tns:submitSingleMessage></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:cdc:iisb:2011:submitSingleMessage"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/soap+xml;action="urn:cdc:iisb:2011:connectivityTest";charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='UTF-8'?>
        <Envelope xmlns="http://www.w3.org/2003/05/soap-envelope">
           <Body>
              <Fault xmlns:ns4="http://schemas.xmlsoap.org/soap/envelope/">
                 <Code>
                    <Value>Sender</Value>
                 </Code>
                 <Reason>
                    <Text xml:lang="en">Username/password combination is unrecognized</Text>
                 </Reason>
                 <Detail>
                    <SecurityFault xmlns="urn:cdc:iisb:2011">
                       <Code>10</Code>
                       <Reason xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="xs:string">Security</Reason>
                       <Detail>Invalid Username or Password</Detail>
                    </SecurityFault>
                 </Detail>
              </Fault>
           </Body>
        </Envelope>
  recorded_at: Wed, 28 Jul 2021 21:09:13 GMT
recorded_with: VCR 6.0.0
