<section class="hero is-small is-info">
  <div class="hero-body">
    <p class="title">Detail</p>
  </div>
</section>

<%= link_to 'Health Card Details', render 'form', patient: @patient, detail_health_card_path, class: 'button is-info' %>