<section class="hero is-small is-info">
  <div class="hero-body">
    <p class="title">New Patient</p>
  </div>
</section>

<%= render 'form', patient: @patient %>
<%= button_to 'Demo Data', new_patient_path, params: fake_patient_params, method: :get %>
<%= link_to 'Back', patients_path %>
