<h1>New Patient</h1>

<%= render 'form', patient: @patient %>
<<<<<<< HEAD
<%= button_to 'Demo Data', new_patient_path(@patient), method: :get %>
=======

>>>>>>> 3c4df9c (button works)
<%= link_to 'Back', patients_path %>
