<%= javascript_pack_tag 'qrcode' %>
<section class="hero is-link">
  <div class="hero-body">
    <p class="title">Details Page</p>
  </div>
</section>

<p id="notice"><%= notice %></p>
<section class="section">
  <div class="container">

    <div id="qr-code"></div>
    <p class="title">JWS</p>
    <%= @jws_details %>

  </div>
</section> 