<section class="hero is-small is-info">
  <div class="hero-body">
    <p class="title">
      <%= link_to root_path, 'aria-label': 'Back to home page' do%>
        <i class="fa fa-caret-left"></i>
      <% end %>
      Uploaded Health Card
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <p class="title"><%= pluralize @upload_result.size, 'credential' %> found in file '<%= @filename %>'</p>
    <div class="tile is-ancestor box">
      <% @upload_result.each do |result| %>
        <div class="tile is-child">
        <%= render partial: 'patients/patient', object: create_patient_from_jws(result[:payload]), locals: {payload: result[:payload], verified: result[:verified], error_message: result[:error_message]} %>
        </div>
      <% end %>
    </div>
  </div>
</section>
