body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

#notice {
  color: green; }

.field_with_errors {

  & input {
    border-color: red;
  }
}

code {
  white-space: nowrap;
}
