<section class="hero is-small is-info">
  <div class="hero-body">
    <p class="title">
      <%= link_to patient_path(@patient), 'aria-label': 'Back to patient page' do%>
        <i class="fa fa-caret-left"></i>
      <% end %>
      Edit Immunization
    </p>
  </div>
</section>

<%= render 'form', immunization: @immunization, patient: @patient %>
