<html>
<h1> Patient Form </h1>
<h2>Please Put Your Information</h2>

<form action="/Patient/" method="POST">
    First Name: <input type="text" name="fn">


    Middle Initial: <input type="text" name="mi">


    Last Name: <input type="text" name="ln">


    Suffix: <input type="text" name="suffix">
    <br/>
    <br/>

    Gender: <input type="text" name="gender">


    Mobile phone: <input type="text" name="mobile">


    Email address: <input type="text" name="email">


    Date of Birth: <input type="text" name="dob">
    <br/>
    <br/>

    <input type="submit">
</form>

</html>