<html>
<h1> Patient Form </h1>
<h2>Please Put Your Information</h2>
<body>
<form action="/Patient/" method="POST" id="patient-form">
    First Name: <input type="text" name="given" id="given">


    Middle Initial: <input type="text" name="mi" id="mi">


    Last Name: <input type="text" name="ln" id="ln">


    Suffix: <input type="text" name="suffix" id="suffix">
    <br/>
    <br/>

    Gender: <input type="text" name="gender" id="gender">


    Mobile phone: <input type="text" name="telecom" id="telecom">


    Email address: <input type="text" name="email" id="email">


    Date of Birth: <input type="text" name="birthdate" id="birthdate">
    <br/>
    <br/>

    <button type="button" onclick="postFormDataAsJson()">Submit</button>

</form>

<script> 

async function postFormDataAsJson() {
    var data = new FormData(document.getElementById("patient-form"));
    data = JSON.stringify(Object.fromEntries(data));
    console.log(data);

    fetch('http://localhost:8080/Patient/', {
    method: 'POST',
    headers: {
    'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => data.text())
    .then(data => {
    console.log('Success:', data);
    })
    .catch((error) => {
    console.error('Error:', error);
    })
}

</script>
</body>

</html>