<html>
<h1> Patient Form </h1>
<h2>Please Put Your Information</h2>

<form action="/patient/" method="POST">
    First Name: <input type="text" name="fn">
    <br/>
    <br/>

    Middle Initial: <input type="text" name="mi">
    <br/>
    <br/>

    Last Name: <input type="text" name="ln">
    <br/>
    <br/>

    Suffix: <input type="text" name="suffix">
    <br/>
    <br/>

    Gender: <input type="text" name="gender">
    <br/>
    <br/>

    Mobile phone: <input type="text" name="mobile">
    <br/>
    <br/>

    Email address: <input type="text" name="email">
    <br/>
    <br/>

    Date of Birth: <input type="text" name="dob">
    <br/>
    <br/>

    <input type="submit">
</form>

</html>