---
http_interactions:
- request:
    method: post
    uri: http://vci.mitre.org:8081/iis-sandbox/soap
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:cdc:iisb:2011" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:submitSingleMessage><tns:username>mitre</tns:username><tns:password>mitre</tns:password><tns:facilityID>MITRE Healthcare</tns:facilityID><tns:hl7Message>MSH|^~\&amp;|||||20210728204956||QBP^Q11^QBP_Q11|9115643310|P|2.5.1|||ER|AL|||||Z34^CDCPHINVS|

        QPD|Z34^Request Immunization History^CDCPHINVS|9115643310|^J19X5^^^AIRA-TEST^MR|WeilAIRA^BethesdaAIRA^Delvene^^^^|WeilAIRA^BethesdaAIRA^^^^^M|20170610|F|1113 Wollands Kroon Ave^^Hamburg^MI^48139^USA^P|^PRN^PH^^^810^2499010|||||

        RCP|I||</tns:hl7Message></tns:submitSingleMessage></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:cdc:iisb:2011:submitSingleMessage"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/soap+xml;action="urn:cdc:iisb:2011:connectivityTest";charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n
        \ <Header />\n   <Body>\n      <submitSingleMessageResponse xmlns=\"urn:cdc:iisb:2011\">\n
        \       <return><![CDATA[MSH|^~\\&||IIS Sandbox v0.4.6|||20210728084956+0000||RSP^K11^RSP_K11|16275053965781635|P|2.5.1|||NE|NE|||||Z32^CDCPHINVS\rMSA|AA|9115643310\rQAK|9115643310|OK|Z34^Request
        a Complete Immunization History^CDCPHINVS\rQPD|Z34^Request Immunization History^CDCPHINVS|9115643310|^J19X5^^^AIRA-TEST^MR|WeilAIRA^BethesdaAIRA^Delvene^^^^|WeilAIRA^BethesdaAIRA^^^^^M|20170610|F|1113
        Wollands Kroon Ave^^Hamburg^MI^48139^USA^P|^PRN^PH^^^810^2499010|||||\rPID|1||GKAXZ2C5R7TE^^^IIS^SR~J19[...]
